@charset "utf-8";
/* CSS Document */

.indexhead{
	height: 200px;
	background-color: rgba(77,78,90,0.80);
}

.indexhead img{
	height: 100%;
	width:50%;
	margin: 0px auto;
}

.neimain{
	margin-top: 50px;
	background-color: rgba(77,78,90,0.2);
	backdrop-filter: blur(15px);
}