<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>YuriStudio——首页</title>
<link type="text/css" href="/css/bootstrap.css" rel="stylesheet"/>
<link type="text/css" href="/css/bootstrap-theme.css" rel="stylesheet"/>
<link type="text/css" href="/css/mainStyle.css" rel="stylesheet"/>
<link type="text/css" href="/css/index.css" rel="stylesheet"/>
<script src="/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</head>

<body>
<div class="container">
	<div class="row"><div class="bigLogo"></div></div>
	<div class="main">
		<div class="container">
			<div class="row webIntroduce">
		<div class="text-center">本网站为YuriHead的个人网站，旨在发布个人的创造物与交流点子<br /> 发布与学习新技术的地方<br /> 未经允许，不可擅自抄袭本网站Logo以及布局，违者必究</div>
	</div>
	<div class="row selectItem">
	<div class="col-lg-4 col-md-4 text-center"><a id="Teconology" href="\technology">YURI Technology</a></div>
		<div class="col-lg-4 col-md-4 text-center"><a id="Art">YURI Art</a></div>
		<div class="col-lg-4 col-md-4 text-center"><a id="Creation">YURI Creation</a></div>
	</div>
	
	<div class="row well itemIntroduce">
		<span>将鼠标移动到超链接上会提示该栏目的介绍</span>
	</div>
		</div>
	</div>
</div>
</body>
</html>
